
<ul>
  <% @files.sort.each do |file| %>
    <li>
      <a href="/<%= file %>"><%=  file %></a>
      <a href="/<%= file %>/edit">edit</a>
      <form class="inline" method="post" action="/<%= file %>/duplicate">
        <button type="submit">duplicate</button>
      </form>
      <form class="inline" method="post" action="/<%= file %>/delete">
        <button type="submit">delete</button>
      </form>
      <a href="/<%= file %>/version">version history</a>
    </li>
  <% end %>
</ul>

<p><a href="/new"> New Document </a></p>

<% if session[:username] %>

  <form action="/upload/image" method="post">
    <button type="submit">Upload Image</button>
    <input name="image" value="image url"/>
  </form>

  <form method="post" action="/signout">
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign out</button>
    </p>
  </form>
  <% else %>
    <p class="user-status"><a href="/users/signin">Sign In</p>
    <p class="user-status"><a href="/users/signup">Sign Up</p>
<% end %>
